#bg-gradient-primary {
    background: rgb(0,123,255);
    background: -moz-linear-gradient(177deg, rgba(0,123,255,1) 0%, rgba(0,123,255,1) 30%, rgba(255,255,255,1) 75%);
    background: -webkit-linear-gradient(177deg, rgba(0,123,255,1) 0%, rgba(0,123,255,1) 30%, rgba(255,255,255,1) 75%);
    background: linear-gradient(177deg, rgba(0,123,255,1) 0%, rgba(0,123,255,1) 30%, rgba(255,255,255,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007bff",endColorstr="#ffffff",GradientType=1);
}
figure img {
    background-color: #272727;
    padding: 35px 1px 1px 1px;
    border-radius: 5px;
}
figcaption {
    text-align: center;
    position: absolute;
    width: 100%;
    color: #fff;
    top: 0;
    margin: 5px auto;
}
figcaption span:nth-child(1) {
    display: inline-block;
    background: #ff0000;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
figcaption span:nth-child(2) {
    display: inline-block;
    background: #00aa00;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
figcaption span:nth-child(3) {
    display: inline-block;
    background: #0000ff;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
#left-blk-bg {
    background-image: url('https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-position: center;
}
.card-square, .card-square .card-header{
    cursor: grab;
    border: none;
    border-radius: 0px; 
}
.card-square:hover {
    background-image: url('https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}
.card-square:hover .card-square:hover .card-header, .card-square:hover .card-header {
    background-color: #000000aa !important;
    border-radius: 0;
}
.card-square:hover h5, .card-square:hover p, .card-square:hover a {
    color: #ffffff !important;
}
.card-square:hover .card-body {
    background-color: #000000aa !important;
}
.card-body p {
    min-height: 140px;
}